@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --branco: #fff;
  --cinza: #808080;
  --cinzaSecundario: #a5a5a5;
  --cinzaTerciario: #a1a1a1;
  --azulClaro: #6495ed;
  --corFundo: #f5f5f5;
  --preto: #000000;
  --cinzaClaro: #d5d5d5;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0F1720;
}

#folha {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--corFundo);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin: 40px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  background: var(--azulClaro);
  height: 250px;
}

#perfil {
  width: 250px;
  object-fit: cover;
  margin-right: 10mm;
}

#info {
  display: flex;
  flex-direction: column;
}

#info h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--branco);
}

#info h2 {
  font-size: 20px;
  margin-top: 10px;
  color: var(--branco);
}

#info .text-link {
  margin-top: 10px;
  font-size: 12pt;
  color: var(--preto);
  text-decoration: underline;
  text-underline-offset: 5px;
}

#contato {
  display: flex;
  gap: 10px;
  margin-right: 60px;
  flex-direction: column;
}

#contato a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  color: var(--branco);
  font-weight: 500;
}

.icone {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

main {
  padding: 3rem;
}

#apresentacao {
  margin-bottom: 25px;
}

#apresentacao h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

#apresentacao hr {
  border: none;
  height: 2px;
  background: var(--cinzaSecundario);
  margin-bottom: 15px;
}

#apresentacao p {
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 20px;
}

#btn {
  text-decoration: none;
  border: 2px solid var(--preto);
  background: transparent;
  border-radius: 5px;
  color: var(--preto);
  width: 160px;
  cursor: pointer;
  padding: 10px;
}

#btn a {
  text-decoration: none;
  color: #6495ed;
}

#btn:hover {
  color: #a1a1a1;
  border: 2px solid transparent;
  transition: 400ms;
}

#btn:hover a {
  color: #a1a1a1;
}

#mapaCarreiraSkills {
  display: flex;
}

#mapaCarreira {
  padding: 12px;
}

#mapaCarreira #estagiario,
#mapaCarreira #junior,
#mapaCarreira #pleno,
#mapaCarreira #senior {
  margin: 0 0 20px 0;
}

#mapaCarreira article h3 {
  margin: 5px 0 5px 0;
}

#mapaCarreira article p {
  font-weight: 300;
  line-height: 20px;
}

.skills {
  margin: 10px 0 0 0;
}

.skills h3 {
  margin: 5px 0 10px 0;
}

.softSkills {
  list-style: inside;
  line-height: 25px;
}

.skills h4 {
  margin: 20px 0 15px 0;
}

.mapApredizado {
  list-style: none;
  display: flex;
  gap: 10px;
  width: 610px;
  flex-wrap: wrap;
}

.mapApredizado li {
  background: var(--cinzaTerciario);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: var(--branco);
  font-weight: 600;
}

#skills p {
  font-size: 15px;
  margin-bottom: 10px;
}

#skills h4 {
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.linha {
  height: 1px;
  width: 110px;
  background: var(--preto);
  margin-top: 3.8px;
}

.barBoeder {
  margin: 0 0 10px 0;
  border: 2px solid var(--preto);
  border-radius: 8px;
}

.bar {
  height: 12px;
  background: var(--azulClaro);
  border-radius: 8px;
}

#outrasSkills {
  margin-top: 50px;
}

#outrasSkills h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

#others {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#others li {
  background: var(--cinzaSecundario);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: var(--branco);
}

#idiomas {
  margin-top: 50px;
}

#idiomas h3 {
  margin-bottom: 16px;
}

#idiomas span {
  background: var(--cinzaClaro);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

@media (max-width: 500px) {
  body {
    background: var(--branco);
  }

  #folha {
    width: 300px;
    box-shadow: none;
  }

  header {
    height: 465px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
  }

  #info h1 {
    font-size: 20px;
  }

  #info h2 {
    font-size: 15px;
  }

  #info .text-link {
    font-size: 10px;
  }

  #perfil {
    width: 300px;
    margin: 0;
  }

  #contato {
    flex-direction: row;
  }

  main {
    width: 300px;
    padding: 0;
    background: var(--branco);
  }

  #apresentacao {
    margin-top: 25px;
  }

  #btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
  }

  #btn a {
    font-size: 15px;
  }

  #mapaCarreiraSkills {
    flex-direction: column;
  }

  #mapaCarreira .mapApredizado {
    flex-direction: column;
    width: 230px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #skills h3 {
    font-size: 20px;
  }

  #skills p {
    margin-top: 10px;
  }

  .linha {
    width: 230px;
  }

  .barBoeder {
    width: 200px;
  }

  #others {
    width: 230px;
  }

  #idiomas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
